@font-face {
    font-family: 'Stardew';
    src: url('media/stardew_valley-webfont.woff2') format('woff2'),
         url('media/stardew_valley-webfont.woff') format('woff'),
         url('media/stardew_valley-webfont.ttf') format('truetype'),
         url('media/stardew_valley-webfont.svg#stardew_valleyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

:root {
    --transition: .3s ease-in-out;
    --menuSize: 22px;
    --acsessSize: 30px;
    --acsessSizeFontSize: 20px;
    --titleSize: 45px;
    --boxTitleSize: 15px;
    --boxTextSize: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%
}

.show {
    background-color: rgba(255, 255, 255, 0.7);
    transition: var(--transition);
}

.black {
    background-color: rgb(4, 4, 4);
}

.white {
    background-color: rgb(221, 221, 221);
}

.container {
    margin: 0 auto;
    padding: 0 2%;
    text-align: center;
}

header {
    position: fixed;
    width: 100%;
    transition: all 0.3s ease-in-out;
    z-index: 999;
    padding: 10px 0;
}


body.dark .show {
    background-color: rgba(0, 0, 0, 0.7);
}

.upper {
    position: relative;
    z-index: 998;
    top: 80%;
}

.pointer {
    transform: translate(50%, 25%);
    animation: pointer 1s ease-in-out infinite;
}

.backplate {
    width: 95%;
    height: 100%;
    background-color: rgba(209,248,255,0.67);
    margin: 0 auto;
    transition: var(--transition);
}

body.dark .backplate {
    width: 95%;
    height: 100%;
    background-color: rgba(45, 53, 54, 0.67);
    margin: 0 auto;
}

.loader {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
}

.loader .spin {
    width: 100px;
    height: 100px;
    border: 5px solid #03A007;
    background-color: transparent;
    animation: spin 1s linear infinite;
    border-bottom: none;
    border-radius: 50%;

}

.flexAcsess {
	position: fixed;
	right: 15px;
	bottom: 15px;
	z-index: 9999;
	display: flex;
    align-items: center;
}

.highContrast, .increaseFont, .decreaseFont {
    width: 50px;
    height: 50px;
    background-color: #000000ad;
    border-radius: 50%;
    transition: var(--transition);
    margin: 0 5px;
}

body.dark .highContrast, body.dark .increaseFont, body.dark .decreaseFont {
    background-color: #ffffffad;
}

.highContrast i, .increaseFont p, .decreaseFont p {
    position: relative;
    left: 50%;
    top: 50%;
    font-size: var(--acsessSize);
    transform: translate(-50%, -50%);
    color: #fff;
    cursor: pointer;
    transition: var(--transition);
    text-align: center;
}

.increaseFont p, .decreaseFont p {
    font-size: var(--acsessSizeFontSize);
}

body.dark .highContrast i, body.dark .increaseFont p, body.dark .decreaseFont p {
    color: #000;
}

.fontSize {
    color: white;
    display: flex;
    font-family: 'Arial';
}

header .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

header .container .logo {
    position: absolute;
    left: 20px;
}

header .container .logo img {
    width: 60px;
    cursor: pointer;
}

header .container ul {
    list-style: none;
    display: flex;
    max-width: 400px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 25px;
    color: rgb(221, 221, 221);
}

header ul.mobile {
    display: none;
    justify-content: center;
    max-width: none;
    margin-top: 20px;
    position: absolute;
    left: 0;
    top: 82px;
    background-color: rgba(255, 255, 255, 0.7);
    /* padding: 10px 0 0 0; */
}

body.dark header ul.mobile {
    display: none;
    justify-content: center;
    max-width: none;
    margin-top: 20px;
    position: absolute;
    left: 0;
    top: 82px;
    background-color: rgba(0, 0, 0, 0.7);
    /* padding: 10px 0 0 0; */
}

header ul.mobile li {
    border-bottom: 1px solid #fff;
    padding: 5px 0;
}

body.dark header ul.mobile li {
    border-bottom: 1px solid #000;
    padding: 5px 0;
}

header svg {
    display: none;
    width: 30px;
    position: absolute;
    right: 20px;
    top: 30px;
}

header .container ul li {
    cursor: pointer;
    font-family: "Stardew";
    font-size: var(--menuSize)
}

header .container ul li a {
    text-decoration: none;
    color: rgba(221,221,221);
    transition: var(--transition);
}

body.dark header .container ul li a {
    text-decoration: none;
    color: rgba(221,211,211);
}

header .container ul.desktop li:before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0px;
    background-color: rgb(221, 221, 221);
    transform: translateY(30px);
    transition: var(--transition)
}

body.dark header .container ul.desktop li:before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0px;
    background-color: rgb(4, 4, 4);
    transform: translateY(30px);
    transition: var(--transition)
}

header .container ul li:hover::before, 
body.dark header .container ul li:hover::before {
    height: 2px;
}

.mainImg {
    position: fixed;
    z-index: 997;
    background-image: url(media/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.chamada1 {
    position: relative;
    top: 35%;
    z-index: 998;
    color: #fff;
    font-family: "Stardew";
    font-size: var(--titleSize)
}

.chamada1 .container h1:nth-child(2) {
    margin-left: 80px;
}

.box {
    padding: 10px 0 5px 0;
    font-family: sans-serif;
}

.box h1 {
    background-color: #03A007;
    border: 1px solid #007448;
    margin-bottom: 3px;
    font-size: var(--boxTitleSize);
    color: #fff;
    padding: 5px 0;
    text-shadow: rgb(0, 50, 31) 0px 2px 0px;
}

body.dark .box h1 {
    background-color: #016b04;
    border: 1px solid #003f27;
    text-shadow: rgb(0, 50, 31) 0px 2px 0px;
}

.box p {
    background-color: rgba(255,255,255,0.58);
    font-size: var(--boxTextSize);
    color: rgb(32, 33, 34);
    padding: 10px 5px;
    text-align: left;
    line-height: 22px;
    transition: var(--transition);
}

body.dark .box p {
    background-color: rgba(0,0,0,0.58);
    color: rgb(216, 222, 229);

}

@media screen and (max-width: 800px) {
    /* header .container {
        flex-direction: column;
    } */

    header svg {
        display: block;
        fill: #fff
    }



    /* header .container ul.mobile {
        display: block
    } */

    header .container ul.desktop {
        display: none;
    }

    header .container .logo {
        position: relative;
        left: 0;
        margin-top: 10px
    }

    .mainImg {
        background-position: center center;
    }
}

@keyframes pointer {
    from {
        transform: translate(50%, 25%);
        opacity: 1;
    }
    to {
        transform: translate(50%, 0%);
        opacity: 0;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}